* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --yellow: #ffcc00;
  --black: #000000;
  --gray: #808080;
  --white: #ffffff;
  --btn_y: #ffcc00;
  --btn_b: #000000;
  --btn_g: #808080;
  --btn_w: #ffffff;

  /* Add card and home pages button */
  --button_primary_bg_color: #544dc9;
  --button_primary_text_color: white;
  --button_dark_bg_color: #000000;
  --button_dark_text_color: white;
  /* Modal button button */
  --button_modal_bg_color: #5f55ee;
  --button_modal_text_color: white;
  /* Modal submit button */
  --button_modal_bg_color: #5f55ee;
  --button_modal_text_color: white;
  /* Modal outline button */
  --button_outline_modal_border_color: #808080;
  --button_outline_modal_text_color: #808080;
  /* Modal active button */
  --button_active_modal_border_color: #808080;
  --button_active_modal_bg_color: #808080;
  --button_active_modal_text_color: #ffffff;
  /* notepad nav */
  --notepad_nav_bg_color: yellow;
  --notepad_nav_text_color: rgb(255, 255, 255);

  /* switch & checkbox button */
  --button_switch_bg_color: rgb(255, 255, 255);
  /* switch & checkbox active button */
  --button_switch_active_bg_color: #544dc9;
  /* sidebar */
  --sidebar_nav_active_bg_color: #e5e4fc;
  --sidebar_nav_active_text_color: #544dc9;
  --sidebar_nav_border_color: #808080;
  --sidebar_nav_text_color: #808080;
  /* sidebar new */
  --sidebar_new_bg_color: #f2f1fe;
  --sidebar_new_text_color: #544dc9;
  --sidebar_new_border_color: #ffffff;
  /* nav tabs  */
  --nav_tabs_text_color: #000000;
  --nav_tabs_border_color: #5f55ee;
  /* discount modal color */
  --discount_modal_background_color: #F2F1FE;
  /* primary button */
  --button-primary-bg-color: #5f55ee;
  --button-primary-text-color: white;
  /* siderbar */
  --sidebar_nav_active_bg: #e5e4fc;
  --sidebar_nav_active_text_color: #544dc9;
  --sidebar_nav_inactive_text_color: #2a2e34;
  /* navbar */
  --navbar_background_color: #323452;
  --navbar_text_color: white;
  --navbar-search-bg-color: #ffffff1a;
  --navbar-ask-ai-bg-color: #43418d !important;
  /* modal Brain */
  --button_bg_color: rgba(242, 241, 254, 1);
  --button_border_color: rgba(204, 201, 250, 1);
  --button_text_color: rgba(84, 77, 201, 1);
  --button_active_bg_color: rgba(253, 243, 236, 1);
  --button_active_border_color: rgba(245, 208, 180, 1);
  --button_active_text_color: rgba(188, 95, 28, 1);
  /* modal update */
  --background_color_modal: rgba(247, 248, 249, 1);
  --text_color_modal: rgba(79, 87, 98, 1);
  <<<<<<< HEAD
  /* modal update hover */
  --background_color_hover_modal: rgb(255, 255, 255);
  --text_color_hover_modal: #808080;
  /* alerts color */
  --background_colour_alert_modal: #F2F1FE;
  --text_colour_alert_modal: black;
  /* templates Card */
  --background_templates_card_modal: #F7F8F9;
  /* templates Card */
  --background_templates_sidebar_modal: #F7F8F9;
  --text_templates_sidebar_modal: #808080;
  /* modal buget */
  --bg_templates_buget_modal: #F7F8F9;
  --text_templates_buget_modal: #808080;
  
  
  
  --primary-color: #5F55EE;
  --secondary-color: white;
  --thirdary-color: #f7f8f9;
  --primary-text-color: #2A2E34;
  --secondary-text-color: #656f7d;

}