@import url(./app.css);
@import url(./buttons.css);







.sidebarnew {
    max-width: 255px;
    background-color: #F7F8F9;
    padding-top: 12px;
    width: 255px;

    header {
        padding-left: 12px;
    }

    .dropdown {
        .person-name {
            font-family: Segoe UI;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            text-align: left;
            color: #2A2E34;
        }
    }

    hr:first-of-type {
        margin: 9px 0;
    }

    .nav {
        .nav-link {
            display: flex;
            align-items: center;
            font-family: Segoe UI;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;
            color: #2A2E34;

        }

        &.top-nav {
            .nav-link {

                &::before {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.75276 4.66294C4.95909 4.30185 5.25723 4.00174 5.61696 3.79304C5.97669 3.58434 6.38521 3.47449 6.80109 3.47461H13.1994C13.6152 3.47463 14.0235 3.58456 14.3831 3.79325C14.7427 4.00194 15.0407 4.30197 15.2469 4.66294L18.1011 9.65628C18.1607 9.76086 18.192 9.87921 18.1919 9.99961V14.1663C18.1919 14.7917 17.9435 15.3916 17.5012 15.8339C17.0589 16.2761 16.4591 16.5246 15.8336 16.5246H4.16693C3.54146 16.5246 2.94161 16.2761 2.49933 15.8339C2.05706 15.3916 1.80859 14.7917 1.80859 14.1663V9.99961C1.80873 9.87913 1.84033 9.76078 1.90026 9.65628L4.75276 4.66294ZM6.80109 4.85794C6.45109 4.85794 6.12776 5.04544 5.95443 5.34961L3.69193 9.30794H6.66693C6.75777 9.30792 6.84772 9.32579 6.93165 9.36054C7.01558 9.39528 7.09185 9.44622 7.15609 9.51044L8.62026 10.9746H11.3803L12.8444 9.51044C12.9087 9.44622 12.9849 9.39528 13.0689 9.36054C13.1528 9.32579 13.2428 9.30792 13.3336 9.30794H16.3086L14.0461 5.34961C13.9609 5.20028 13.8376 5.07614 13.6889 4.9898C13.5403 4.90345 13.3714 4.85796 13.1994 4.85794H6.80109ZM16.8086 10.6913H13.6203L12.1561 12.1554C12.0918 12.2197 12.0156 12.2706 11.9317 12.3053C11.8477 12.3401 11.7578 12.358 11.6669 12.3579H8.33359C8.24275 12.358 8.1528 12.3401 8.06887 12.3053C7.98494 12.2706 7.90867 12.2197 7.84443 12.1554L6.38026 10.6913H3.19193V14.1663C3.19193 14.7046 3.62859 15.1413 4.16693 15.1413H15.8336C16.0922 15.1413 16.3402 15.0386 16.523 14.8557C16.7059 14.6729 16.8086 14.4249 16.8086 14.1663V10.6913Z" fill="%234F5762" /></svg>');
                    background-size: contain;
                    background-repeat: no-repeat;
                    vertical-align: middle;
                }
            }
        }
    }
}

.sidebarnew.inactive {
    max-width: 56px;

    .hide-text {
        display: none !important;
    }
}








.nav_2_one {
    display: flex;
    height: 30px;
    background: white;
    border: none;
}

.nav_2 {
    justify-content: space-between;
    display: flex;
}

.nav_2_two .btn_mang,
.btn_setting {
    background-color: var(--black);
    color: var(--white);
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
}

.btn_setting {
    background-color: var(--white) !important;
    border: none;
}

.form-switch {
    width: 100%;
}

#switch {
    width: 350px;
}

.switch_button {
    justify-content: space-between;
}

.form-check h5 {
    color: var(--gray);
    font-size: 15px;
}


.modal-header .main_modal {
    display: flex;
}

.modal_two {
    gap: 6px;
}

.modal_two .one_button {
    background: var(--white);
    color: var(--gray);
    border-radius: 10px;
    border: 0.5px solid var(--gray);
}

.btn-close {
    height: 2px;
}

.modal-dialog {
    max-width: 804px;
}


.modal_one_content {
    justify-content: start;
}


.Since_drp {
    background-color: var(--white);
    text-align: start;
}

:root {
    --yellow: #ffcc00;
    --black: #000000;
    --gray: #808080;
    --white: #ffffff;
}

.card {
    justify-content: space-between;
    flex-direction: row;
    border: none
}

.card_button button {
    gap: 5px;
    width: 123px;
    justify-content: space-evenly;
}

.card_main {
    border: 1px solid var(--gray);
    padding: 11px;
    border-radius: 10px;
}

.card_button button {
    background-color: var(--gray);
    color: var(--white);
    /* padding: 6px; */
    justify-content: space-evenly;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 30px;
    width: 146px;
}

.card_button_2 button {
    border-radius: 10px;
    background-color: var(--gray);
    color: var(--white);
    padding: 0px 18px;
}

#check {
    width: auto;
    background: black;
    padding: 0pc 10px
}

.box_two {
    display: flex;
}



.format_button button {
    border-radius: 10px;
    width: 100vw;
    height: 50px;
    gap: 5px;
    color: var(--gray);
    border: none;
}

.format_check {
    background: var(--white);
    border: 1px solid var(--black) !important;
}

.nav-link {
    color: var(--black);
}

.nav-link:hover {
    color: var(--gray);
}

.h_discount_two {
    position: absolute;
    right: 0;
    margin-top: -60px;
}

.h_d_offer_end {
    line-height: 0px;
    font-size: 13px;
    color: gray;
}

.h_d_offer {
    gap: 18px;

}

.modal_two p,
.h_bulb_img p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 41px;
}

.modal_two img {
    gap: 2px;
}

.h_drp_list_modal {
    border: 1px solid var(--gray);
}

.h_bulb_img {
    display: flex;

}

.h_nav_askai {
    width: 40%;
}

.h_nav_end {
    gap: 20px;
}

.h_nav_end button {
    background-color: var(--gray);
    /* padding: 5px; */
    border: none;
}


@import url("./assets/css/buttons.css");

:root {
    --yellow: #ffcc00;
    --black: #000000;
    --gray: #808080;
    --white: #ffffff;
}


.h_modal_input {
    border: none;
}

.h_modal_button {
    gap: 10px;
}

.h_drp_one button {
    justify-content: space-evenly;
}

.h_modal_first {
    justify-content: space-between;
}

.first_end {
    gap: 10px;
}

.h_reminder_input {
    border: none;
}

.h_reminder_button {
    gap: 30px;
}

.h_reminder_button button {
    padding: 6px 14px;
    border-radius: 10px;
}

.h_reminder_end {
    justify-content: end;
    gap: 10px;
}

.h_chat_input {
    border: none;
}

.h_chat_img {
    background: var(--white);
    border-radius: 20px;
    border: none;
}

.h_chat_footer {
    justify-content: space-around;
}

.h_chat_end {
    /* flex-direction: column; */
    gap: 10px;
}

.create_end {
    width: 126px;
}

.whiteboard_end,
.dashboard_end {
    width: 169px;
}

.navbar-custom {
    background: rgba(50, 52, 82, 1);
    
}

.nav-search {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    width: 20vw;
    height: 25px;
    border-radius: 0.25rem;
    color: white;
}

.nav-search {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
}

.btn-ask {
    display: flex;
    width: 80px;
    height: 25px;
    text-align: center;
    justify-content: center;
    font-size: 13px;
    align-items: center;
    border-radius: 10%;
    background-color: rgb(78, 78, 146);
    margin-left: 5px;
    border: none;
}

.btn-ask p {
    padding: 5px 2px;
    color: #ffffff;
    margin: 0;
}

.btn-ask img {
    margin-right: 5px;
}

.Search_button {
    position: relative;
}

.icons img {
    margin: 0 5px;
}

.dropdown-menu {
    min-width: 150px;
}

.search_icon {
    margin-left: 50px;
}

.btn-ask {
    margin-left: 44%;
}

.user-button {
    background-color: rgba(97, 52, 52, 0.581);
    border-radius: 25%;
}

.user_profile_st {
    width: 20vw;
    line-height: 15px;
}

.user_profile_st li {
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
}

.user_profile_st li p {
    margin-bottom: -50px;
    margin-left: 10px;
}

.drp_img {
    width: 39px;
    margin-bottom: 55px;
}

.user_info {
    display: flex;
    margin: 11px 20px -38px;
    gap: 12px;
}

.drp {
    width: 280px;
}

.offcanvas {
    z-index: 1050;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--gray);
    color: var(--black);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 50px;
}

.user_side {
    top: -48px;
}

.user_sidebar_menu h5 {
    margin-left: 41px;
    margin-top: -36px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: var(--black);
    display: block;
    transition: 0.3s;
    margin-bottom: 2px;
}

.sidebar img {
    position: absolute;
    margin-top: 11px;
    margin-left: 5px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    height: 56px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    height: 900px;
    overflow-y: scroll;
}

.half_bar {
    width: 50px;
    height: calc(100vh - 50px);
    background: var(--gray);
    padding: 10px !important;
    margin: -16px !important;
}










.box_one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.edit_one img {
    margin-right: 10px;
}

.edit_one h5 {
    margin: 0;
}

.other_one,
.edit_one {
    display: flex;
    align-items: center;
}

.other_one img {
    margin-left: 10px;
}



.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--gray);
    color: var(--black);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 50px;
    dis
}

.user_side {

    top: -48px;
}

.user_sidebar_menu h5 {
    margin-left: 41px;
    margin-top: -36px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    /* font-size: 25px; */
    color: var(--black);
    display: block;
    transition: 0.3s;
    margin-bottom: 2px;
}

.sidebar img {
    position: absolute;
    margin-top: 11px;
    margin-left: 5px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    height: 56px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.half_bar {
    width: 50px;
    height: calc(100vh - 50px);
    background: var(--gray);
    padding: 10px !important;
    margin: -16px !important;
}





.details_one .list {
    display: flex;
    margin: 5px;
    margin-left: 50px;
}

.details_one .list p {
    margin: 8px;
}







#one_box {
    border: 1px solid var(--yellow);
    border-radius: 10px;
    height: 400px;
    /* overflow: hidden; */
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;


}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    height: 20px;


}

.date p {
    margin-left: 2vw;
}


.date .b {

    margin-left: 0px !important;
}


.all-day {
    margin-left: 72%;
}

.box-two {
    justify-content: space-between;
}

.box_two,
.other_two {
    justify-content: space-between;
}

.date_main {
    justify-content: space-between;
}

.today {
    gap: 15px;
}

#box-two,
#box-three,
#box-four,
#box-five,
#box-six,
#box-seven,
#box-eight,
#box-nine,
#box-ten {
    border: 1px solid var(--yellow);
    border-radius: 10px;
    height: 600px;
}

#box-two {
    height: 400px !important;
}



.myWork_list {
    display: flex;
    gap: 15px;
}

.myWork_list img {
    margin-bottom: 12px;
}

.four_two {
    justify-content: space-between;
}

.other_four,
.edit_four {
    gap: 5px;
}

.Personal_list_content {
    justify-content: center;
    text-align: center;
}

.Personal_list_content button {
    width: 200px;
    border-radius: 10px;
}

.personal_list {
    width: 50%;
}

.personal_list {
    width: 50%;
}

.check_box_img {
    width: 43%;
}

.check_box_img {
    width: 43%;
}

.nine_dropdown {
    width: 57vw;
}

.nine_dropdown,
.drp_down_list_2 {
    width: 57vw;
}

.drp_down_2 {
    gap: 25px;
}
.navbar-end_button ul{
    margin-bottom: 1rem;
} 
.navbar {
  
    background: var(--gray) !important;
}

.h_main_profile {
    position: absolute !important;

    left: 77% !important;
}

.h_sidebar_button {
    margin-top: -9px;
}

.h_main_profile {
    position: absolute;
    right: 0;
    left: 60vh;
}

.top-nav img,
.h_sidebar_two img {
    margin: 8px;
    /* margin-left: 16px; */
}
.h_discount_text span {
    font-size: 14px;
}

.h_business_title {
    gap: 10px;
}

.h_business_title button {
    padding: 2px !important;

}

.h_discount_first {
    background-color: var(--yellow);
    border-radius: 10px;
}


.h_main_profile{
    position: absolute;
right: 0;
left: 60vh
}




.h_sidebar_proend{
display: flex;
justify-content: space-between !important;
}

.h_footer_2part{
flex-grow: 1; 
padding: 0 15px;
background-color: var(--yellow);
border-radius:10px ;
}
.sibebar_footer_button button{
padding: 5px 5px;
border-radius: 10px;
}
.image_footer img{
padding: 10px;
border-radius: 10px;
border: 1px solid var(--gray);
background: var(--yellow);
}
.main_contain_footer{
background-color: var(--yellow);
padding: 18px;
margin: 10px;
border: 1px solid var(--gray);
border-radius: 10px;
}
.send_button{
display: flex;
}

.h_sidebar_threeButton{
    justify-content: space-around;
    display: flex;
}
.h_sidebar_threeButton button{
    justify-content: space-around;
    display: flex;
}
.h_profile_sidebar{
    margin: 58px;
    width: 506px !important;
    box-shadow: 1px 11px 33px 8px var(--gray);
    border-radius: 12px
    
}
.h_siderbar_button{
    display: flex;
    justify-content: end;
}
.h_sidebar_content2{
    padding: 14px;
    border-radius: 10px;
    background-color: var(--yellow);
    margin: 15px;
}

.h_sidebar_content1 img{
    
    background: var(--yellow);
    border: 1px solid var(--black);
    padding: 8px;
    border-radius: 11px;
}

.h_notepad{
margin: 50px;
border-radius:10px;
height: 45%;
}
.note_pad_title{
gap: 10px;
}
.notepad_main{
background-color: var(--yellow);
}
.notepad_content{
justify-content: center;
text-align: center;
}
.h_profile_id{
width: 600px !important;
}
.profile_header{
display: flex;
gap: 350px;
}
.profile_header button{

border-radius:10px ;
padding: 5px 10px;
}
.profile_button_type{
display:flex;
justify-content:space-around;
padding-inline: 10px;

}
.profile_button_type h4{
font-size: 18px;
}
.profile_button_type p{
font-size: 12px;
}
.main_activity{
display: flex;
justify-content: space-around;
}
.h_activity_profile{
text-align: center;
}
.h_delegted_profile h4{
    font-size: 15px;
font-weight: 700;
}
.h_delegted_profile p{
    font-size: 11px;
 }
 .calendar {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  .calendar table {
    width: 100%;
    border-collapse: collapse;
  }
  .calendar th, .calendar td {
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
  }
  .calendar th {
    background-color: #f0f0f0;
  }
  .calendar .today {
    background-color: #f5f5f5;
  }
  .calendar .event {
    background-color: #f0f0ff;
    cursor: pointer;
  }
@media only screen and (max-width: 600px) {
.profile_header{
gap: 200px;
}
}