* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar {
    background-color: rgba(50, 52, 82, 1);
height: 40px;
}
.search_click {
    background-color: rgba(67, 65, 141, 1);
}
.nav_input {
    background-color: rgba(50, 52, 82, 1);
    color: aliceblue;
}
.nav_input::placeholder {
    color: white;
}
.user_button {
    background-color: rgba(77, 77, 199, 0.53);
}
.menu_button{
    background-color: aliceblue;
}
.user_icon {
    background-color: rgb(109, 219, 97);
    margin-left: 10px;
    padding: 8px 15px;
    margin: 2px;
    border-radius: 10px;
}


.next_button{
    background:rgba(50, 52, 82, 1);
    color: white;
    border: none;
    margin-top: 5px;
}
.nav_home {
    margin-left: 50px;
    margin-top: -38px;

}
.nav_home img {
    width: 30px;
    margin-left: 30px;
    height: 25px;
}
.data_show {
    margin-top: 20px;
}
.edit_one_data {
    margin-left: auto; 
    margin-right: 0;
}
.data_one_content {
    margin-left: 0;
}
.edit_one_data img{
    margin-top:-50px;
    width: 25px;
    height: 25px; 
}
.edit_one_data_img{
    
    margin-left: 80vh;
}
    /* Custom CSS for modal width */
.modal-dialog.custom-width {
    max-width: 50%; /* Adjust width for smaller screens */
    margin: 10vh auto; /* Center the modal vertically */
}

/* Custom styling for list items as buttons */
.modal-title ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow-x: auto; /* Enable horizontal scroll on small screens */
}

.modal-title li {
    padding: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
    color: #000000;
    text-align: center;
}

.modal-title li.active {
    text-decoration: underline;
}

.down_close {
    margin-left: 90px;
}

.modal_input input {
    padding: 2px 15px;
    border: none;
    font-size: 22px;
    margin-top: 50px;
}

.content_two input, .content_three input {
    border: none;
    margin: 5px;
}

.content_three input {
    margin-left: 20px;
}

.btn_1, .btn_2 {
    padding: 2px 15px; /* Adjust padding for consistency */
}

.btn_2 {
    padding: 2px 10px; /* Adjust padding for consistency */
}
.model_left{
    
    margin-right: 580px;
    color: white;
    border: #000000;
}