* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --primary-color: #ffcc00;
  --secondary-color: #f4f5f8;
  --thirdary-color: #f7f8f9;

  --bg-primary-color: #f4f5f8;
  --bg-secondary-color: white;
  --bg-thirdary-color: #fafbfc;

  --primary-text-color: #000000;
  --secondary-text-color: #808080;
  --thirdary-text-color: white;
  --fourdary-text-color: #ffcc00;
  --button-text-color: white;

  --bg-primary-nav-color: #ffcc00;
  --bg-secondary-nav-color: #fffbed;
  --bg-thirdary-nav-color: #ffcc00;

  --border-primary-color: #cdd4e0;
  --border-secondary-color: rgba(255, 255, 255, 0.4);
}

:root {
  --yellow: #ffcc00;
  --black: #000000;
  --gray: #808080;
  --white: #ffffff;
  --btn_y: #ffcc00;
  --btn_b: #000000;
  --btn_g: #808080;
  --btn_w: #ffffff;

  /* Add card and home pages button */
  --button_primary_bg_color: #544dc9;
  --button_primary_text_color: white;
  --button_dark_bg_color: #000000;
  --button_dark_text_color: white;
  /* Modal button button */
  --button_modal_bg_color: #5f55ee;
  --button_modal_text_color: white;
  /* Modal submit button */
  --button_modal_bg_color: #5f55ee;
  --button_modal_text_color: white;
  /* Modal outline button */
  --button_outline_modal_border_color: #808080;
  --button_outline_modal_text_color: #808080;
  /* Modal active button */
  --button_active_modal_border_color: #808080;
  --button_active_modal_bg_color: #808080;
  --button_active_modal_text_color: #ffffff;
  /* notepad nav */
  --notepad_nav_bg_color: yellow;
  --notepad_nav_text_color: rgb(255, 255, 255);

  /* switch & checkbox button */
  --button_switch_bg_color: rgb(255, 255, 255);
  /* switch & checkbox active button */
  --button_switch_active_bg_color: #544dc9;
  /* sidebar */
  --sidebar_nav_active_bg_color: #e5e4fc;
  --sidebar_nav_active_text_color: #544dc9;
  --sidebar_nav_border_color: #808080;
  --sidebar_nav_text_color: #808080;
  /* sidebar new */
  --sidebar_new_bg_color: #f2f1fe;
  --sidebar_new_text_color: #544dc9;
  --sidebar_new_border_color: #ffffff;
  /* nav tabs  */
  --nav_tabs_text_color: #000000;
  --nav_tabs_border_color: #5f55ee;
  /* discount modal color */
  --discount_modal_background_color: #f2f1fe;
  /* primary button */
  --button-primary-bg-color: #5f55ee;
  --button-primary-text-color: white;
  /* siderbar */
  --sidebar_nav_active_bg: #e5e4fc;
  --sidebar_nav_active_text_color: #544dc9;
  --sidebar_nav_inactive_text_color: #2a2e34;
  /* navbar */
  --navbar_background_color: #323452;
  --navbar_text_color: white;
  --navbar-search-bg-color: #af70705b;
  --navbar-ask-ai-bg-color: #43418d !important;
  /* modal Brain */
  --button_bg_color: rgba(242, 241, 254, 1);
  --button_border_color: rgba(204, 201, 250, 1);
  --button_text_color: rgba(84, 77, 201, 1);
  --button_active_bg_color: rgba(253, 243, 236, 1);
  --button_active_border_color: rgba(245, 208, 180, 1);
  --button_active_text_color: rgba(188, 95, 28, 1);
  /* modal update */
  --background_color_modal: rgba(247, 248, 249, 1);
  --text_color_modal: rgba(79, 87, 98, 1);

  /* modal update hover */
  --background_color_hover_modal: rgb(255, 255, 255);
  --text_color_hover_modal: #808080;
  /* alerts color */
  --background_colour_alert_modal: #f2f1fe;
  --text_colour_alert_modal: black;
  /* templates Card */
  --background_templates_card_modal: #f7f8f9;
  /* templates Card */
  --background_templates_sidebar_modal: #f7f8f9;
  --text_templates_sidebar_modal: #808080;
  /* modal buget */
  --bg_templates_buget_modal: #f7f8f9;
  --text_templates_buget_modal: #808080;

  /* sign up  */

  --signup-text-color: gray;
  --signup-button-color-text: white;
  --signup-button-color-bg: #5f55ee;
  --signup-form-footer-bg: #fafbfc;

  --secondary-color: white;
  --thirdary-color: #f7f8f9;
  --primary-text-color: #2a2e34;
  --secondary-text-color: #656f7d;
}

@import url(./app.css);
@import url(./buttons.css);






/* INBOX AI */

#main_inbox {
  width: 100vw;
  overflow: scroll;
  height: 100vh;
}

.i_nav_one_side {
  gap: 20px;
}

.i_card_notification {
  height: 500px;
  text-align: center;
}

.i_card_notification img {
  margin-top: 8%;
}

.i_card_notification p,
.i_content_two p {
  color: var(--gray);
}

.i_clickTip div {
  width: 200px;
  text-align: center;
}

.i_content_two {
  text-align: center;
  padding: 50px 35%;
}

.i_modal_invite {
  justify-content: space-between;
  display: flex;
  border: 1px solid var(--gray);
  padding: 3px;
  border-radius: 10px;
}

.i_modal_dialog_invite {
  max-width: 587px;
}

.i_modal_dialog_invite p {
  font-size: 12px;
}

.i_content_one h4 {
  font-size: 18px;
}

.i_modal_dialog_invite label {
  font-size: 13px;
  font-weight: 700;
}

.i_content_two h3 {
  font-size: 20px;
  font-weight: 600;
}

.i_clickUp_brain {
  margin: 70px 20px;
  width: 500px !important;
  border-radius: 10px;
  box-shadow: 1px 11px 33px 8px var(--gray);
}

.i_click_content {
  padding: 10px 20px;
}

.i_click_content span {
  color: var(--gray);
}

.i_modal_body_invite p {
  font-size: 14px;
}

.i_modal_para_clickupBrain span {
  font-size: 14px;
}

.i_click_content_line {
  font-size: 12px;
  color: var(--gray);
}

.i_brain_button button {
  border: 1px solid var(--button_border_color);
  color: var(--button_text_color);
  background: var(--button_bg_color);
}

.i_brain_button button:hover {
  border: 1px solid var(--button_active_border_color);
  color: var(--button_active_text_color);
  background: var(--button_active_bg_color);
}

.i_projectUpdate_modal {
  gap: 116px;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .nav_2 {
    flex-wrap: wrap;
  }

  .i_content_two {
    padding: 50px 2%;
  }

  .i_card_notification {
    height: 300px;
  }

  .i_clickTip div {
    width: 268px;
  }

  .i_nav_one_side {
    gap: 7px;
  }

  .i_clickUp_brain {
    margin: 0;
  }

  .i_brand_send img {
    margin-left: 0 !important;
  }

  .modal_title {
    font-size: 10px;
  }
}

.i_checkbox_modal {
  background-color: var(--button_switch_bg_color);
}

.i_checkbox_modal:checked {
  background-color: var(--button_switch_active_bg_color);
}

.i_projectUpdate_card {
  padding: 11px;
  background: var(--background_color_modal);
  color: var(--text_color_modal);
  border-radius: 10px;
}

.i_projectUpdate_card p {
  font-size: 14px;
}



.modal_get_team_update {
  .modal_content_header h5 {
    font-size: 14px;
  }

  .dropdown-toggle::after {
    margin-top: 10px;
  }

  .user_drop {
    display: flex;
    justify-content: space-between;
    height: 40px;
  }

  .modal_button {
    background-color: var(--background_color_modal);
    border-radius: 10px;
  }

  .modal_button button:hover {
    border: 1px solid var(--text_color_hover_modal);
    background-color: var(--background_color_hover_modal);
    color: var(--text_color_hover_modal);
  }

  .modal_button button {
    width: 32%;
    font-size: 12px;
  }

  .modal_content_one h5 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}

.template_Center {
  .modal_dialog {
    max-width: 1300px !important;
  }

  .Complexity div,
  .template_type div {
    padding: 8px;
  }

  .Complexity div label,
  .template_type label {
    margin-left: 5px;
    color: var(--text_templates_sidebar_modal);
    font-size: 14px;
  }

  .modal_sidebar {
    margin-top: -65px;
    background-color: var(--background_templates_sidebar_modal);
    color: var(--text_templates_sidebar_modal);
    border-radius: 10px;
  }

  .modal_sidebar h1 {
    font-size: 16px;

    margin: 8px 0 0 4px;
  }

  .Complexity h5,
  .template_type h5 {
    color: var(----text_templates_sidebar_modal);
    font-size: 12px;
  }

  .activityLog {
    margin-top: 40%;
  }

  .one_content span,
  .activityLog span {
    font-size: 14px;
    color: var(--text_templates_sidebar_modal);
  }

  .input_buttons span {
    font-size: 14px;
  }

  .alert-dismissible button {
    height: 28.99px;
    font-size: 12px;
  }

  .alert-dismissible {
    height: 65px;
    background-color: var(--background_colour_alert_modal);
    color: var(--text_colour_alert_modal);
  }

  .two_content h1 {
    font-size: 18px;
  }

  .template_card h1 {
    font-size: 16px;
  }

  .Card_formate {
    background: var(--background_templates_card_modal);
    padding: 2px;
    border-radius: 10px;
  }

  .Card_footer span {
    font-size: 14px;
  }

  .card_main {
    height: 650px;
    overflow: scroll;
    border: none;
  }

  @media only screen and (max-width: 600px) {
    .activityLog {
      margin-top: 0;
      margin-bottom: 10px;
    }

    .alert-dismissible {
      height: 85px;
    }

    .alert-dismissible button {
      height: 50px;
    }
  }
}

.templates_more_info {
  .modal-dialog {
    max-width: 1300px;
  }

  .modal_content {
    display: flex;
    gap: 20px;
  }

  .modal_content h3 {
    font-size: 24px;
  }

  .profile_description p span {
    font-size: 12px;
  }

  .profile_description span {
    width: 89px;
    text-align: center;
    background-color: var(--bg_templates_buget_modal);
    color: var(--text_templates_buget_modal);
    border-radius: 5px;
    height: 28px;
  }

  .user_title {
    gap: 10px;
  }

  .modal-header h5 {
    font-size: 16px;
  }

  .null_button {
    height: 100px;
    width: 100px;
  }

  .content_two h3 {
    font-size: 14px;
  }

  .content_two p {
    font-weight: 400;
    font-size: 12px;
  }

  .sidear_content_two h4 {
    font-size: 11px;
    color: var(--text_templates_sidebar_modal);
  }

  .sidear_content_two p {
    font-size: 14px;
  }

  .Social_card {
    background-color: var(--background_templates_card_modal);
  }

  .card_detail h3 {
    font-size: 16px;
  }

  .card_detail p {
    font-size: 14px;
  }

  .drop_down_button {
    display: flex;
    justify-content: space-between;
  }

  .dropend .dropdown-toggle::after {
    margin-top: 20px;
  }

  .content_three h3 {
    font-size: 16px;
  }

  .modal-content {
    height: 750px;
  }

  @media only screen and (max-width: 600px) {
    .modal-content {
      height: 1000px;
    }

    .use_templates {
      font-size: 10px;
      width: 90px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .profile_header {
    gap: 200px;
  }

  .nav_2_two span {
    font-size: 11px;
  }

  ol,
  ul {
    padding-left: 0px !important;
  }

  .h_main_profile {
    left: 40% !important;
  }

  .sidebarnew {
    min-width: 200px;
  }

  #myTab {
    font-size: 12px;
  }




  .sibebar_footer_button {
    flex-wrap: wrap;
  }

  .responsive_discount {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 900px) {
  .ask-ai {
    width: 180px;
  }
}